<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DOH Map - Admin</title>

    <div th:replace="~{fragments/scripts.html :: scripts}"></div>
</head>
<body onload="setup()">
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="container-fluid">
    <div class="mx-auto">
        <h1>Admin functions!</h1>
        <div th:if="${successText}" th:text="${successText}" class="alert alert-success" role="alert"></div>
        <div th:if="${failureText}" th:text="${failureText}" class="alert alert-danger" role="alert"></div>
        <a href="/admin/browserTest">Run browser test (1 browser on page 1 only)</a><br>
        <a href="/admin/liteBrowserTest">Run lite browser test (1 browser on page 1 only)</a><br>
        <a href="/admin/fullRun">Kick off full scrape run.</a><br>
        <a id="utcoTest"
           onclick="$('#utcoTest').attr('href', `/admin/utcoTest?letters=${prompt('Enter letters to search UTCO for')}`);"
           href="/admin/utcoTest">Test UTCO's health inspection scraper.</a><br>
        <a id="utcoTestStartAt"
           onclick="$('#utcoTestStartAt').attr('href', `/admin/utcoTestStartAt?letters=${prompt('Enter letters to start UTCO at')}`);"
           href="/admin/utcoTestStartAt">Start UTCO's health inspection scraper at a two letter pair.</a><br>
        <a href="/admin/fullUtcoTest">Kick off full UTCO scrape run.</a><br>
    </div>
</div>
</body>
</html>