<div th:fragment="inspection" th:remove="tag">
    <h1 th:text="'Details for ' + ${establishment.name()}"></h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td th:if="${fragView != null}">
                            <a data-toggle="tooltip" data-bs-placement="top" title="Get a standalone page for this establishment with inspection details."
                               target="_blank" th:text="${establishment.id()} + ' ⧉'" th:href="${'/establishment/' + establishment.id()}"></a>
                        </td>
                        <td th:if="${fragView == null}" th:text="${establishment.id()}"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td th:text="${establishment.getFullAddress()}"></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td th:text="${establishment.type()}"></td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" data-placement="top" title="The last seen rank as available on the establishment-level on the SLCO health inspection site.">Last Rank</td>
                        <td th:text="${lastRank == null ? '???' : lastRank + '%'}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td>First Seen</td>
                        <td th:text="${establishment.getEntityCreationAsRfc1123()}"></td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" title="The last time this establishment was seen via the scraper.">Last Seen</td>
                        <td th:if="${establishment.lastSeen().compareTo(lastSeenCutoff) < 0}"
                            style="text-decoration: underline; text-decoration-style: dashed;"
                            class="text-danger"
                            data-toggle="tooltip" data-bs-placement="bottom"
                            title="This establishment most likely doesn't exist from the source, as it was last seen over a day ago via the latest inspection's update. It may have been renamed, merged, or otherwise deleted."
                            th:text="'!!!! ' + ${T(io.banditoz.dohmap.utils.DateUtils).getDateAsRfc1123(establishment.lastSeen())}">
                            <!-- TODO better warning indicator above. Underline with prepended exclamations look ugly. -->
                        <td th:if="${establishment.lastSeen().compareTo(lastSeenCutoff) > 0}"
                            th:text="${T(io.banditoz.dohmap.utils.DateUtils).getDateAsRfc1123(establishment.lastSeen())}">
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td th:if="${establishment.phone() == null}"><i>Unknown</i></td>
                        <td th:if="${establishment.phone() != null}" th:text="${establishment.phone()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <h2>Inspections</h2>
    <!--    <button type="button" class="btn btn-primary btn-sm">Toggle All</button>-->
    <p th:if="${inspections.isEmpty()}">No inspections available :(</p>
    <div th:if="${!inspections.isEmpty()}" th:id="${establishment.id()}" class="accordion">
        <div th:each="i,idx : ${inspections}" class="accordion-item">
            <h2 th:id="'h_' + ${i.i().id()}" class="accordion-header">
                <button class="accordion-button" th:classappend="${idx.count != 1} ? 'collapsed'"
                        type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#c_' + ${i.i().id()}"
                        th:aria-controls="'c_' + ${i.i().id()}"
                        th:text="${i.i().inspectionDate() + ', Type: ' + i.i().inspectionType() + ', Score: ' + i.i().score() + ', ' + i.critCount() + ' crit and ' + i.nonCritCount() + ' non-crit.'}">
                </button>
            </h2>
            <div th:id="'c_' + ${i.i().id()}" class="accordion-collapse collapse"
                 th:classappend="${idx.count == 1} ? 'show'"
                 th:aria-labelledby="'h_' + ${i.i().id()}">
                <div class="accordion-body">
                    <table class="table table-hover table-bordered table-sm">
                        <tr class="table-success">
                            <th>Code</th>
                            <th>Observed Violations</th>
                            <th>Points</th>
                            <th>Critical</th>
                            <th>Occurrences</th>
                            <th data-toggle="tooltip" data-placement="top" title="Corrected on site during inspection.">COS</th>
                            <th data-toggle="tooltip" data-placement="top" title="Public Health Rationale (Why is this a violation?)">PHR</th>
                        </tr>
                        <tr th:each="v : ${i.v()}" th:class="${v.critical() ? 'table-danger' : 'table-primary'}">
                            <td th:text="${v.code()}"></td>
                            <td th:text="${v.observed()}"></td>
                            <td th:text="${v.points()}"></td>
                            <td th:text="${v.critical()}"></td>
                            <td th:text="${v.occurrences()}"></td>
                            <td th:text="${v.correctedOnSite()}"></td>
                            <td th:text="${v.publicHealthRationale()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
