<div th:fragment="inspection" th:remove="tag">
    <h1>
        <a th:text="'Details for ' + ${establishment.name()}"></a>
        <a th:if="${fragView != null}" data-toggle="tooltip" data-bs-placement="top"
           title="Get a standalone page for this establishment with inspection details."
           target="_blank" th:href="${'/establishment/' + establishment.id()}"> ⧉</a>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td>Address</td>
                        <td th:text="${establishment.getFullAddress()}"></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td th:text="${establishment.type()}"></td>
                    </tr>
                    <tr th:if="${establishment.isSaltLakeCounty()}">
                        <td data-toggle="tooltip" data-placement="top" title="The last seen rank as available on the establishment-level on the SLCO health inspection site.">Last Rank</td>
                        <td th:text="${lastRank == null ? '???' : lastRank + '%'}"></td>
                    </tr>
                    <tr th:if="${establishment.isUtahCounty()}">
                        <td data-toggle="tooltip" data-placement="top" title="The identifier Utah County has for this establishment.">UTCO's ID</td>
                        <td>
                            <a th:href="${'https://www.inspectionsonline.us/UT/UtahProvo/inspect.nsf/vw_InspectionsPubSumm-NT?OpenView&RestrictToCategory=' + establishment.sysId()}"
                               th:text="${establishment.sysId()}"
                               target="_blank"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td>First Seen</td>
                        <td th:text="${establishment.getEntityCreationAsRfc1123()}"></td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" title="The last time this establishment was seen via the scraper.">Last Seen</td>
                        <td th:if="${establishment.lastSeen().compareTo(lastSeenCutoff) < 0}"
                            style="text-decoration: underline; text-decoration-style: dashed;"
                            class="text-danger"
                            data-toggle="tooltip" data-bs-placement="bottom"
                            title="This establishment most likely doesn't exist from the source, as it was last seen over a day ago via the latest inspection's update. It may have been renamed, merged, or otherwise deleted."
                            th:text="${establishment.lastSeen().toEpochMilli()} == 1706683527668
                                     ? 'Before ' + ${T(io.banditoz.dohmap.utils.DateUtils).getDateAsRfc1123(establishment.lastSeen())}
                                     : ${T(io.banditoz.dohmap.utils.DateUtils).getDateAsRfc1123(establishment.lastSeen())}">
                            <!-- TODO better warning indicator above. Underline looks ugly. And maybe not hardcode magic long? -->
                        <td th:if="${establishment.lastSeen().compareTo(lastSeenCutoff) > 0}"
                            th:text="${T(io.banditoz.dohmap.utils.DateUtils).getDateAsRfc1123(establishment.lastSeen())}">
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td th:if="${establishment.phone() == null}"><i>Unknown</i></td>
                        <td th:if="${establishment.phone() != null}" th:text="${establishment.phone()}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <button th:id="'edit_' + ${establishment.id()}" onclick="edit(this);" class="btn btn-primary">Edit Coordinates</button>
            <script>
                function onError(listener, error, estId, element) {
                    console.error(`Error updating ${estId}'s location, please refresh: ${error}`);
                    leaflet.off('click'); // TODO WON'T WORK WITH INCASE OTHER CLICK LISTENERS ARE ADDED!
                    element.classList.remove('btn-warning');
                    element.classList.add('btn-danger');
                    element.innerHTML = 'Error!';
                }

                function edit(e) {
                    e.classList.add('btn-disabled', 'btn-warning');
                    e.setAttribute('disabled', true);
                    e.innerHTML = 'Click on the map to edit location.';
                    const estId = e.id.replace('edit_', '');
                    const on = leaflet.on('click', function (maploc) {
                        // debugger;
                        if ($(`#${e.id}`).length === 0) {
                            console.warn(`stale edit for ${e} ${on}`);
                            return;
                        }
                        console.log(maploc);
                        console.log(e);
                        fetch(`/api/admin/v1/establishment/manualLocationUpdate/${estId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(maploc.latlng)
                        })
                            .then((resp) => {
                                if (resp.ok) {
                                    markers.get(estId).setLatLng(maploc.latlng);
                                    e.classList.remove('btn-disabled', 'btn-warning');
                                    e.classList.add('btn-success');
                                    e.innerHTML = 'Success!';
                                    setTimeout(function () {
                                        e.classList.remove('btn-success');
                                        e.innerHTML = 'Edit Coordinates';
                                        e.removeAttribute('disabled');
                                    }, 1000);
                                    leaflet.off('click');
                                } else {
                                    onError(on, resp, estId, e);
                                }
                            })
                            .catch((error) => {
                                onError(on, error, estId, e);
                            })
                    })
                }
            </script>
        </div>
        <h2>Inspections</h2>
        <p th:if="${inspections.isEmpty()}">No inspections available :(</p>
        <div th:if="${!inspections.isEmpty()}" th:id="${establishment.id()}" class="accordion">
            <div th:each="i,idx : ${inspections}" class="accordion-item">
                <h2 th:id="'h_' + ${i.i().id()}" class="accordion-header">
                    <button class="accordion-button" th:classappend="${idx.count != 1} ? 'collapsed'"
                            type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#c_' + ${i.i().id()}"
                            th:aria-controls="'c_' + ${i.i().id()}"
                            th:text="${i.i().inspectionDate() + ', Type: ' + i.i().inspectionType() + (establishment.isSaltLakeCounty() ? ', Score: ' + i.i().score() + ', ' : ', ') + i.critCount() + ' crit and ' + i.nonCritCount() + ' non-crit.'}">
                    </button>
                </h2>
                <div th:id="'c_' + ${i.i().id()}" class="accordion-collapse collapse"
                     th:classappend="${idx.count == 1} ? 'show'"
                     th:aria-labelledby="'h_' + ${i.i().id()}">
                    <div class="accordion-body">
                        <table class="table table-hover table-bordered table-sm">
                            <tr class="table-success">
                                <th>Code</th>
                                <th>Observed Violations</th>
                                <th th:if="${establishment.isSaltLakeCounty()}">Points</th>
                                <th>Critical</th>
                                <th th:if="${establishment.isSaltLakeCounty()}">Occurrences</th>
                                <th data-toggle="tooltip" data-placement="top" title="Corrected on site during inspection.">COS</th>
                                <th th:if="${establishment.isSaltLakeCounty()}" data-toggle="tooltip" data-placement="top" title="Public Health Rationale (Why is this a violation?)">PHR</th>
                            </tr>
                            <tr th:each="v : ${i.v()}" th:class="${v.critical() ? 'table-danger' : 'table-primary'}">
                                <td th:text="${v.code()}"></td>
                                <td th:text="${v.observed()}"></td>
                                <td th:if="${establishment.isSaltLakeCounty()}" th:text="${v.points()}"></td>
                                <td th:text="${v.critical()}"></td>
                                <td th:if="${establishment.isSaltLakeCounty()}" th:text="${v.occurrences()}"></td>
                                <td th:text="${v.correctedOnSite()}"></td>
                                <td th:if="${establishment.isSaltLakeCounty()}" th:text="${v.publicHealthRationale()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <small class="d-flex">
                    <p data-toggle="tooltip" data-bs-placement="top"
                       title="ID which represents this establishment internally."
                       target="_blank" th:text="${establishment.id()}"></p>
                    &nbsp;&#8212;&nbsp;
                    <a data-toggle="tooltip" data-bs-placement="top" title="Get this establishment as JSON."
                       target="_blank" th:href="${'/api/v1/establishment/' + establishment.id()}">JSON</a>
                </small>
            </div>
        </div>
    </div>
</div>
