<div th:fragment="scripts" th:remove="tag">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/bootstrap/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script>
        Init = {
            page: function() {
                $('[data-toggle="tooltip"]').tooltip();
            }
        }
    </script>
</div>
