<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta content="Dohmap - View health inspections across the Salt Lake area." property="og:title">
    <meta th:content="${count}" property="og:description">

    <title>DOH Map!</title>

    <link rel="stylesheet" href="/static/leaflet/leaflet.css"/>
    <script src="/static/leaflet/leaflet.js"></script>
    <div th:replace="~{fragments/scripts.html :: scripts}"></div>
    <script src="/static/index.js"></script>

    <style>
        #map, #inspection {
            height: 1200px;
        }
        .leaflet-popup-content a {
            text-decoration: none;
        }
        .gone::after {
            content: '†';
            position: relative;
            top: -4px;
            color: var(--bs-gray-600);
        }
    </style>
</head>
<body onload="setup()">
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col" id="map"></div>
        <div class="col overflow-auto" id="inspection">
            <div class="d-flex align-items-center justify-content-center">
                <p>Click on a pin on the map to view an inspection.</p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <p><b>Note!</b> An asterisk (*) on hover after the name means the coordinates were modified slightly to
                    prevent layering.<br>A grey pin or grey cross (†) means the restaurant is probably missing from its data source.
                </p>
                <!-- TODO buff out the text here? -->
            </div>
        </div>
    </div>
</div>
</body>
</html>